body {
    background-color: lightblue;
    padding: 20px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: black;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: pink;
  }
  
  p1 {color: white;}
  h1 {color: white; text-size-adjust: 300; text-align: center;}

  button {color: black;}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }